#logo
{
  width: 20px;
  height: 40px;
  /* display: flex;
  align-items: stretch; */
}

#flex-stretch
{
display: flex;
justify-content: space-around;
}

.images
{
  float: right;
  width: 60%;
  height: 50%;
  margin-right: 100px;
  margin-top: 80px;
}
.text
{
  display: flex;
}
#image1
{
width: 25%;
position: relative;
top: 0;
left: 0;
float:left;
height: 400px;
width: 50%;
margin-left: 100px;
margin-top: 100px;
}
#image2
{
position: absolute;
top: 800px;
left: 600px;
width:50%;
height:70%;
margin-top: 250px;
float:center;
}
.first
{
  margin-top: 550px;
  margin-left: 15%;
}
#second
{
  margin-top: 200px;
  position: absolute;
  margin-left: 200px;
}

.third
{
text-align: center;
margin-top: -750px;
}
#corousel
{
  height:10px;
  width:10px;
}
